<fieldset>
    <legend>Marks the Mark !</legend>
        <table>
            <tbody>
                <tr>
                    <td>Name</td>
                    <td><input type="text"/></td>
                </tr>
                <tr>
                    <td>Is Senior Citizen</td>
                    <td><input type="checkbox"/></td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>
                        <input type="radio" value="male"/>Male
                        <input type="radio" value="female"/>Female
                    </td>
                </tr>
                <tr>
                    <td>Photo</td>
                    <td><img src="https://picsum.photos/200" alt=""></td>
                </tr>
            </tbody>
        </table>
</fieldset>