<!-- <label for="combo">Select continents</label>
<select name="combo" id="combo">
    <option value="Asia">Asia</option>
    <option value="Africa">Africa</option>
    <option value="North America">North America</option>
    <option value="South America">South America</option>
    <option value="Antartica">Antartica</option>
    <option value="Australia">Australia</option>
    <option value="Europe">Europe</option>
</select>

<br> -->
<label for="combo">Select continents : </label>
<input list="continents" id="combo" name="combo" />
<datalist id="continents">
  <option value="Asia">
  <option value="Africa">
  <option value="North America">
  <option value="South America">
    <option value="Antartica">
    <option value="Australia">
    <option value="Europe">

</datalist>
