.fade-in {
        opacity: 0;
        transform: translateY(20px);
        animation: fadeInUp 0.5s ease-out forwards;
    }

    @keyframes fadeInUp {
        to {
            opacity: 1;
        }
    }

    .card-img-top {
    object-fit: cover;
    height: 180px;
}
body, .container-fluid {
    margin: 0;
    padding: 0;
}

.navbar {
    margin-bottom: 0;
}