<fieldset>
    <legend>Hello World</legend>
    <table>
        <tbody>
            <tr>
                <td>
                    <h1>{{title}}</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="name">Enter your name : </label>
                    <input type="text" name="name" id="">
                </td>
            </tr>
            <tr>
                <td><p>
                {{para}}
                </p></td>
            </tr>
            <tr>
                <td>
                    <button ></button>
                </td>
            </tr>
        </tbody>
    </table>
</fieldset>
